@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import 'variables';

// variable
$font-family: Arial, sans-serif;

// mixin
@mixin border($width, $style, $color) {
    border: $width $style $color;
  }

//  Global Styles

header{
    background-color: yellow;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 4em;
}

h1{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

// Nesting Example
nav { 
    font-size: 1.2em;
    text-align: center;
    background-color: white;
    border: solid black 1px;
    margin: 5px;

    ul{
        list-style-type: none; 
        padding-left: 1em;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding-left: 0;

        li{
            padding-top: .5em;
            padding-bottom: .5em;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
        }
    }
}

nav a { text-decoration: none; }
nav a:link { color: black; }
nav a:visited { color: black; }
nav a:hover { color: red; }

#wrapper{
    margin: auto;
    width: 80%;
}

h2{
    text-align: center;
    padding: 3px;
}

// Implementation of a variable
body{
    background: linear-gradient(to bottom, yellow 20%, #d14843, yellow 100%);
    font-family: $font-family;
}

main{
    background-color: white;
    padding: 10px;
}


// Home Page Styles
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#buisinfo{
    text-align: center;
    color: red;
}

// mixin example
#imgborder{
    @include border(10px, double, black);
}

#homered h5{
    color: red;
}


// Menu Page Styles
%menu-font-color{
    color: red;
}

#menu ul {
    text-decoration: none;
    text-align: left;
}

.price{
    @extend %menu-font-color;
}

// implementation of extend/inheritence
#menu h3{
    background-color: yellow;
    padding: 5px;
    @extend %menu-font-color;
}

// Photos Page Styles
#easteregg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Footer Styles
footer{
    background-color: yellow;
    color: red;
    text-align: center;
    padding: 5px;
}